<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Angular Directive Media Picker with upload and crop image.</title>

    <link rel="stylesheet" href="../dist/styles/ngTinyScrollbar.css"/>
    <link rel="stylesheet" href="../../dist/rc-media-dialog.css"/>
    <link rel="stylesheet" href="../../dist/rc-media-zf.css"/>
    <link rel="stylesheet" href="../dist/styles/foundation.css"/>
    <link rel="stylesheet" href="../dist/styles/main.css"/>

    <script src="../dist/scripts/jquery.js"></script>
    <script src="../dist/scripts/es6-shim.js"></script>
    <script src="../dist/scripts/angular.js"></script>
    <script src="../dist/scripts/angular-foundation-6.js"></script>
    <script src="../dist/scripts/ng-file-upload.js"></script>
    <script src="../dist/scripts/angular-img-cropper.js"></script>
    <script src="../dist/scripts/ngTinyScrollbar.js"></script>
    <script src="../dist/scripts/webicon.js"></script>

    <script src="../../dist/rc-media.js"></script>
    <script src="../dist/scripts/main.js"></script>

    <script type="text/javascript">
        'use strict';

        var app = angular.module('app', ['ngFileUpload', 'angular-img-cropper', 'rcMedia', 'rcDialog', 'ngTinyScrollbar', 'mm.foundation', 'ngAnimate', 'angular-json-pretty', 'webicon']);

        app.config(function($webiconProvider) {
            $webiconProvider
                .svgSet('spinner', '../dist/images/icons-spin.svg')
        });

        app.config(['rcMediaProvider', function (rcMediaProvider) {

            rcMediaProvider.setRest({
                url: '../upload',
                path: '/server.php'
            });

            rcMediaProvider.useLocale('fr-FR');
        }]);

        app.config(['$compileProvider', function ($compileProvider) {
            $compileProvider.debugInfoEnabled(true);
        }]);

        app.controller('mediaController', ['$scope', '$log', function ($scope, $log) {
            $scope.media = {
                sourceId: 'id',
                sourceUrl: '../upload/files/',
                sourceUrlKey: 'meta',
                sourceTitle: 'title',
                returnModelType: 'string',
                returnModelKey: 'id',
                returnModelPush: false,
                sourcesOffsetKey: 'offset',
                sourcesLimitKey:  'per_page',
                sourcesSearchKey: 'search',
                sourcesQuery: {
                    per_page : 10
                },
                deleteQuery: {
                    force: true
                },
                upload: {
                    crop: true,
                    multiple: false,
                    accepte: 'image/*',
                    cropArea: {
                        color: 'rgba(118, 118, 118, 0.8)',
                        colorDrag: 'rgba(118, 118, 118, 0.8)',
                        colorBg: 'rgba(200, 200, 200, 0.8)',
                        colorCropBg: 'rgba(0, 0, 0, 0.6)'
                    },
                    loadIcon: 'spinner:clock'
                },
                gallery: {
                    order: 'date',
                    searchValue: '',
                    multiple: true,
                    selectedSources: [],
                    loadIcon: 'spinner:ripple'
                },
                uploadFile: null,
                sources: [],
                sourcesPreview: []
            };

            $scope.removeImage = function () {
                $scope.media.source = {};
            };

        }]);
    </script>
</head>

<body data-ng-app="app" >
<!--[if lt IE 9]>
<div class="alert alert-warning browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->

<header class="container-fluid header-main">
    <div class="row">
        <div class="small-12">
            <div class="text-center">
                <h1 class="page-header">RC-MEDIA</h1>
                <h3>Angular Directive Media Picker with upload and crop image</h3>
                <a class="button large hollow default" href="https://github.com/RedCastor/rc-media"><i class="fa fa-github"></i>&nbsp;&nbsp;View on GitHub</a>
                <a class="button large hollow default" href="https://github.com/RedCastor/rc-media/releases"><i class="fa fa-download"></i>&nbsp;&nbsp;Download</a>
                <h5 class="version"><small>Currently v1.0.0-alpha</small></h5>
            </div>
        </div>
    </div>
</header>
<main class="column row">
    <div data-ng-controller="mediaController as media">
        <div class="row">
            <p></p>
        </div>

        <div class="row">
            <div class="small-3 small-centered columns" >
                <button type="button" class="button warning expanded"
                        rcd-data="media"
                        rcd-open="foundation"
                        rcd-template-url="rc-media-dialog-zf.tpl.html"
                        rcd-backdrop="true"
                        rcd-class="dialog-media"
                >Open Media Foundation</button>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" data-ng-model="media.sources" >
            </div>
            <div data-ng-repeat="source in media.sourcesPreview">
                <div class="small-12 columns">
                    <p><img data-ng-src="{{source.source_url}}" alt=""></p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>